#container {
    width: 85%;
    margin: 0 auto;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: white;
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

form input,
form select,
form textarea {
    font-family: 'IBM Plex Sans';
    padding: 1rem;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    transition: border-color 0.2s;
}

form textarea {
    min-height: 120px;
}

form button {
    width: 100%;
    padding: 1rem;
    background-color: hsl(221, 83%, 53%);
    color: hsl(210, 40%, 98%);
    border: none;
    border-radius: 0.75rem;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1vh;
}

form button:hover {
    background-color: hsl(221, 83%, 45%);
}