@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
}
#root {

  background: radial-gradient(70rem circle at 20% 10%, 
  hsla(221,83%,53%,.18), transparent 40%);

}


html, body, #root, main, .app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;  
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}

.layout{
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
}

.nav{
  width: 85%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  border-radius: .2rem;
  position: relative;
  flex-shrink: 0;
}

.nav > div{
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-interaction{
height: 100%;
width: 50%;
justify-content: space-around;
}

.nav-custom{
  color: hsl(210, 40%, 98%);
  background-color: hsl(221, 83%, 53%);
  font-family: 'IBM plex sans';
  font-weight: 500;
  width: 45%;
  border-radius: 1rem;
  height: 55%;
}

.nav-products{
  font-family: 'IBM plex sans';
  font-weight: 500;
  width: 45%;
  height: 55%;
}

.blurb{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-head{
  font-weight: 600;
  font-family: 'IBM plex sans';
}

.nav-info{
  gap: 5%;
}

.placeholder-logo{
  width: 12%;
  height: 55%;
  border-radius: 2rem;
  background-color: hsl(221, 83%, 53%);
}

.nav-sub{
  font-family: 'IBM plex sans';
  font-weight: 400;
  color: hsl(0, 0%, 67%);
}

.banner{
  height: 80vh;
  width: 85vw;
  border-radius: 2rem;
  display: grid;
  border: solid .09rem black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.18),);
}

.banner > span{
  display: flex;
}

.sub-info{
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: .75rem;
  text-align: center;
  font-weight: 500;
  grid-row-start: 1;
  align-self: center;
  justify-self: start;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBM plex sans';
  font-size: smaller;
}

.sub-info-one{
  grid-column: 1;
  width: 80%;
  height: 50%;
    justify-self: center;

}

.sub-info-two{
  grid-column: 2/3;
  width: 100%;
  justify-self: start;
}
.sub-info-three{
  grid-column: 3/5;
  width: 90%;
  justify-self: center;
}

.banner-head{
  grid-row: 2/5;
  grid-column: 1/8;
  align-self: center;
  justify-self: flex-end;
  font-size: 2.5rem;
  margin-left: 6%;
  font-weight: 600;
  font-family: 'Fraunces';
}

.banner-info{
  grid-row: 5/7;
  grid-column: 1/8;
  width: 100%;
  height: 100%;
  font-size: large;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  color: hsl(0, 0%, 28%);
  margin-left: 12%;
}

.shop-custom{
  width: 95%;
  height: 80%;
  grid-row-start: 7;
  grid-column: 6/11;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-content: space-between;
  border-radius: 1rem;
  justify-self: center;
  font-family: 'IBM plex sans';
  font-weight: 500;  
  background-color: hsl(210, 36%, 96%);

}

.shop-custom>*{
  margin: 3%;
}

shop.custom{
  cursor: pointer;
}

.shop-products{
  width: 95%;
  height: 80%;
  grid-row-start: 7;
  grid-column: 1/6;
  background-color: hsl(221, 83%, 53%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: end;
  border-radius: 1rem;
  font-family: 'IBM plex sans';
  
  /* margin-left: 11%; */
}

.shop-products:hover{
  cursor: pointer;
}

.shop-products>*{
  color: white;
  font-weight: 500;
  margin: 3%;
}

.info-blurb-one{
  grid-row: 8/11 ;
  grid-column: 2/5;  
  justify-self: start;

}

.info-blurb-two{
  grid-row: 8/11;
  grid-column: 5/8;
  justify-self: start;
}

.info-blurb-three{
  grid-row: 8/11;
  grid-column: 8/12;
  justify-self: start;
}

.info-blurb{
  position: relative;
  right: 12%;
  width: 95%;
  height: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  border-radius: 1.5rem;
  border: solid .05rem black;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;}

.info-blurb-stacked{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  align-items: start;
  justify-content: center;
}

.info-blurb-sub{
  margin: 0;
  font-family: 'IBM plex sans';
  font-weight: 400;
  font-size: smaller;
  color: hsl(0, 0%, 67%);
}

.info-blurb-description{
  font-family: 'IBM plex sans';
  font-size: .9rem;
  font-weight: 600;
  white-space: nowrap;
}

.icon{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 1rem;
  font-size: larger;
  width: 10%;
  height: 40%;
  padding: 1%;
}

.featured{
  /* border: solid 1px red; */
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(8, 1fr);
  height: 50vh;
  width: 85vw;
}

.featured > span {
}

.sub-header{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.75rem;
  font-family: 'Fraunces';
  font-weight: 600;
  margin-left: 3%;
}

.sub-description{
  grid-row-start: 2;
  grid-column: 1/4;
  font-family: 'IBM plex sans';
  font-size: small;
  color: hsl(0, 0%, 22%);
  margin-left: 3%;
}


@media (max-width: 480px) {

  .stacked{
      height: 100%;
  }
  .logo-area{

      height: 100%;
  }
  .logo{
      align-self: center;
  }

  .stacked > h1{
      font-size: .75rem;
  }
  .stacked > sub{
      font-size: .5rem;

  }
  .buttons{
      width: 60%;
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      justify-content: space-around;
  }
  .buttons > *{
      font-size: .65rem;
      white-space: nowrap;
  }
  .custom-link{
      width: 100%;
      height: 50%;
      background-color: hsl(221, 83%, 53%);
      color: white;
      font-weight: 500;
      border-radius: 1rem;
      font-family: 'IBM plex sans';
  }
  .sign-up{
      color: hsl(221, 83%, 53%);
      font-family: 'IBM plex sans';
      font-weight: 500;
  }
  .product-link{
      font-family: 'IBM plex sans';
      font-weight: 500;
  }
  .banner{
      position: relative;
      width: 97vw;
      height: 135vh;
       background: radial-gradient(70rem circle at 20% 10%, 
      hsla(221,83%,53%, .2), transparent 30%);
      background-color: white;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      gap: 1%;
  }
  .descriptors > *{
      height: 20px;
      min-width: 8rem;
      border-radius: 1rem;
      align-self: center;
      justify-self: center;
      text-align: center;
      font-weight: 500;
      font-family: 'IBM plex sans';
      font-size: smaller;
  }
  .banner-head{
      font-size: 2rem;
      line-height: 2.5rem;
      align-self: center;
      justify-self: center;
  }
  .text-area{
      justify-content: center;
      align-items: center;
  }

  .banner-buttons{
      flex-direction: column;
      gap: .75rem;
      align-items: center;
      justify-content: center;
  }

  .banner-buttons > div{
      height: 30%;
  }


  .banner-buttons>div>*{
      margin: .5rem;
}

  .buzz-cards{
      flex-direction: column;
      height: 45%;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
  }

  .buzz-cards > div{
      height: 25%;
      width: 80%;
      border-radius: 1.25rem;
  }

  .products{
      height: 160vh;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  .content-header>h1{
      font-weight: 500;
      font-size: 1.5rem;
  }

  .content-header>sub{
      font-weight: 400;
      font-size: .75rem;
      font-family: 'IBM plex sans';
      color: hsl(0, 0%, 35%);
  }

  .product-cards{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 90%;
      width: 100%;
      gap: .75rem;
  }


  

  .product-card{
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      width: 90%;
      height: 70%;
      background-color: white;
      border-radius: 1.5rem;
  }

  

}