@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
  box-sizing: border-box;
}
#root {

  background: radial-gradient(70rem circle at 20% 10%, 
  hsla(221,83%,53%,.18), transparent 40%);
  

}


html, body, #root, main, .app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;  
  position: relative;
  overflow-x: hidden;
  font-size: 16px;
}

.layout{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 5vh;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.descriptors{
    display: flex;
    flex-direction: row;
    height: fit-content;

    align-items: center;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    gap: .6rem;
}

.description-1{
    color: white;
    background-color: hsl(221, 83%, 53%);
}

.description-3{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: inherit;
}

.descriptors > *{
    width: fit-content;
    margin: 1rem;
}

.description-2{
    background-color: white;
}

.banner-head{
    font-family: 'Fraunces';
    font-weight: 600;
}
.text-area{
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 3%;
}

.banner{
    position: relative;
    width: 85vw;
    height: 80vh;
    background-color: white;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    display: flex;
    flex-direction: column;
    border: solid .09rem black;
      background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.18),);
}

.description{
    font-family: 'IBM plex sans';
    color: rgba(0, 0, 0, 0.548);
    font-weight: 400;
    font-size: 1rem;
}

.buttons{
    display: flex;
    width: 100%;
    height: 30%;

}

.banner-buttons{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-buttons > *{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'IBM plex sans';
    font-weight: 500;
    border-radius: .75rem;
    
}

.products-button{
    background-color: hsl(221, 83%, 53%);
    color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.custom-button{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.buzz-cards{
    display: flex;
    width: 100%;
}

.buzz-cards > div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    border: solid 1px black;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon{
    color: hsl(221, 83%, 53%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 15%;
    height: 30%;
    border-radius: 1rem;
}

.scroll{
    height: 200vh;
    opacity: 0;
}

.products{
    width: 85%;
    justify-content: start;
}

.content-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
}

.content-header>h1{
    font-family: 'Fraunces';

}

.content-header>sub{
    font-family: 'IBM plex sans';
}

.product-cards{
    display: flex;
    width: 100%;
}

.product-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.tags{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

.tags>*{
    min-width: 20%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: hsl(221, 83%, 53%);
    height: 40%;
    color: white;
    font-family: 'IBM plex sans';
    font-size: small;
    font-weight: 500;
    text-align: center;
    align-self: center;
    justify-self: center;
    border-radius: .75rem;
}

.top{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.price{
    display: flex;
    flex-direction: row;
    width: 28%;
    height: 100%;
    justify-content: space-around;
    font-weight: 500;
    font-size: small;
    align-items: center;
    font-family: 'IBM plex sans';
}

.details-box{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-button{
    width: 80%;
    height: 35%;
    display: flex;
    flex-direction: row;
    font-family: 'IBM plex sans';
    align-items: center;
    justify-content: space-between;
    background-color: hsla(221,83%,53%,.18);
    font-weight: 500;
    font-size: small;
    border-radius: 1rem;
}

.details-button > *{
    margin: .5rem;
}

.logo-area{
            display: flex;
        flex-direction: row;
}
    
.stacked{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5%;
        /* align-items: center; */
        justify-content: center;
    }

.stacked > h1{
            font-weight: 600;
        font-family: 'IBM plex sans';
        font-weight: 600;
}

.stacked > sub{
            font-family: 'IBM plex sans';
        color: hsl(0, 0%, 35%);
}

.logo{
    color: hsl(221, 83%, 53%);
}
    .nav{
        width: 85%;
        height: 10vh;
    }
    
    .buttons{
        width: 60%;
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }
        .custom-link{
        width: 100%;
        height: 50%;
        background-color: hsl(221, 83%, 53%);
        color: white;
        font-weight: 500;
        border-radius: 1rem;
        font-family: 'IBM plex sans';
    }
    .sign-up{
        color: hsl(221, 83%, 53%);
        font-family: 'IBM plex sans';
        font-weight: 500;
    }
    .product-link{
        font-family: 'IBM plex sans';
        font-weight: 500;
    }

    .banner{
        height: 80vh;
        width: 85%;
        position: relative;
        background: radial-gradient(70rem circle at 20% 10%, 
       hsla(221,83%,53%, .2), transparent 30%);
       background-color: white;
       border-radius: 2rem;
       box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
       gap: 1%;
    }

    .descriptors > *{
        height: 20px;
        min-width: 8rem;
        border-radius: 1rem;
        align-self: center;
        justify-self: center;
        text-align: center;
        font-weight: 500;
        font-family: 'IBM plex sans';
        font-size: smaller;
    }

    .banner-head{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 4rem;
        /* align-self: center;
        justify-self: center; */
    }


    .banner-buttons>div>*{
        margin: .5rem;
}

    .buzz-cards{
        flex-direction: row;
        height: 45%;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    .buzz-cards > div{
        height: 40%;
        width: 30%;
        border-radius: 1.25rem;
    }

    .products{
        height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .content-header>h1{
        font-weight: 500;
        font-size: 1.75rem;
    }

    .content-header>sub{
        font-weight: 400;
        font-size: .75rem;
        font-family: 'IBM plex sans';
        color: hsl(0, 0%, 35%);
    }

    .product-cards{
        flex-direction: row;
        height: 85%;
        width: 100%;
        gap: .75rem;
    }

    .product-card{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        width: 25%;
        height: 70%;
        background-color: white;
        border-radius: 1.5rem;
    }



.banner-custom{
  width: 85vh;
  height: 20vh;
  border: solid .1rem black;
  border: solid;
}

.view-all-featured{
  width: 100%;
  white-space: nowrap;
  grid-column: 8/11;
  background-color: unset;
}

footer{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > *{
  font-family: 'IBM plex sans';
  font-size: smaller;
  margin: 3%;
  color:  rgb(151, 151, 151);
}

.admin-foot{
  text-decoration: underline;
}

.sub-header{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.75rem;
  font-family: 'Fraunces';
  font-weight: 600;
  margin-left: 3%;
}

.sub-description{
  grid-row-start: 2;
  grid-column: 1/4;
  font-family: 'IBM plex sans';
  font-size: small;
  color: hsl(0, 0%, 22%);
  margin-left: 3%;
}

    @media (max-width: 480px) {

        .nav{
            width: 100%;
        }

        .description{
            font-family: 'IBM plex sans';
            color: rgba(0, 0, 0, 0.548);
            font-weight: 400;
            font-size: .75rem;
        }

        .stacked{
            height: 100%;
        }
        .logo-area{
    
            height: 100%;
        }
        .logo{
            align-self: center;
        }
    
        .stacked > h1{
            font-size: .75rem;
        }
        .stacked > sub{
            font-size: .5rem;
    
        }
        .buttons{
            width: 60%;
            display: flex;
            flex-direction: row;
            height: 100%;
            align-items: center;
            justify-content: space-around;
        }
        .buttons > *{
            font-size: .65rem;
            white-space: nowrap;
        }
        .custom-link{
            width: 100%;
            height: 50%;
            background-color: hsl(221, 83%, 53%);
            color: white;
            font-weight: 500;
            border-radius: 1rem;
            font-family: 'IBM plex sans';
        }
        .sign-up{
            color: hsl(221, 83%, 53%);
            font-family: 'IBM plex sans';
            font-weight: 500;
        }
        .product-link{
            font-family: 'IBM plex sans';
            font-weight: 500;
        }
        .banner{
            position: relative;
            width: 97vw;
            height: 135vh;
             background: radial-gradient(70rem circle at 20% 10%, 
            hsla(221,83%,53%, .2), transparent 30%);
            background-color: white;
            border-radius: 2rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            gap: 1%;
        }
        .descriptors > *{
            height: 20px;
            min-width: 8rem;
            border-radius: 1rem;
            align-self: center;
            justify-self: center;
            text-align: center;
            font-weight: 500;
            font-family: 'IBM plex sans';
            font-size: smaller;
        }
        .banner-head{
            font-size: 1.6rem;
            line-height: 2.5rem;
            align-self: center;
            justify-self: center;
        }
        .text-area{
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-left: 1rem;
        }
    
        .banner-buttons{
            flex-direction: column;
            gap: .75rem;
            align-items: center;
            justify-content: center;
        }
    
        .banner-buttons > div{
            height: 30%;
        }
    
    
        .banner-buttons>div>*{
            margin: .5rem;
    }
    
        .buzz-cards{
            flex-direction: column;
            height: 45%;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
        }
    
        .buzz-cards > div{
            height: 25%;
            width: 80%;
            border-radius: 1.25rem;
        }
    
        .products{
            height: 160vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    
        .content-header>h1{
            font-weight: 500;
            font-size: 1.5rem;
        }
    
        .content-header>sub{
            font-weight: 400;
            font-size: .75rem;
            font-family: 'IBM plex sans';
            color: hsl(0, 0%, 35%);
        }
    
        .product-cards{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90%;
            width: 100%;
            gap: .75rem;
        }
    
        .product-card{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            width: 90%;
            height: 70%;
            background-color: white;
            border-radius: 1.5rem;
        }
    
        
    
    }
