@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
#root {

  background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.18), transparent 50%);

}


html, body, #root, main, .app {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;  
  position: relative;
  overflow-x: hidden;
}

.layout{
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.nav{
  width: 85%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  border-radius: .2rem;
  position: relative;
  flex-shrink: 0;
}

.nav > div{
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.nav-interaction{
height: 100%;
width: 50%;
justify-content: space-around;
}

.nav-custom{
  color: hsl(210, 40%, 98%);
  background-color: hsl(221, 83%, 53%);
  font-family: 'IBM plex sans';
  font-weight: 500;
  width: 45%;
  border-radius: 1rem;
  height: 55%;
}

.nav-products{
  font-family: 'IBM plex sans';
  font-weight: 500;
  width: 45%;
  height: 55%;
}

.blurb{
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-head{
  font-weight: 600;
  font-family: 'IBM plex sans';
}

.nav-info{
  gap: 5%;
}

.placeholder-logo{
  width: 12%;
  height: 55%;
  border-radius: 2rem;
  background-color: hsl(221, 83%, 53%);
}

.nav-sub{
  font-family: 'IBM plex sans';
  font-weight: 400;
  color: hsl(0, 0%, 67%);
}

.banner{
  height: 80vh;
  width: 85vw;
  border-radius: 2rem;
  display: grid;
  border: solid .09rem black;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.18),);
}

.banner > span{
  display: flex;
}

.sub-info{
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: .75rem;
  text-align: center;
  font-weight: 500;
  grid-row-start: 1;
  align-self: center;
  justify-self: start;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'IBM plex sans';
  font-size: smaller;
}

.sub-info-one{
  grid-column: 1;
  width: 80%;
  height: 50%;
    justify-self: center;

}

.sub-info-two{
  grid-column: 2/3;
  width: 100%;
  justify-self: start;
}
.sub-info-three{
  grid-column: 3/5;
  width: 90%;
  justify-self: center;
}

.banner-head{
  grid-row: 2/5;
  grid-column: 1/8;
  align-self: center;
  justify-self: flex-end;
  font-size: 2.5rem;
  margin-left: 6%;
  font-weight: 600;
  font-family: 'Fraunces';
}

.banner-info{
  grid-row: 5/7;
  grid-column: 1/8;
  width: 100%;
  height: 100%;
  font-size: large;
  font-weight: 500;
  align-self: center;
  justify-self: center;
  
  margin-left: 12%;
}

.shop-custom{
  width: 95%;
  height: 80%;
  grid-row-start: 7;
  grid-column: 6/11;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-content: space-between;
  border-radius: 1rem;
  justify-self: center;
  font-family: 'IBM plex sans';
  font-weight: 500;  
  background-color: hsl(210, 36%, 96%);

}

.shop-custom>*{
  margin: 3%;
}

shop.custom{
  cursor: pointer;
}

.shop-products{
  width: 95%;
  height: 80%;
  grid-row-start: 7;
  grid-column: 1/6;
  background-color: hsl(221, 83%, 53%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  justify-self: end;
  border-radius: 1rem;
  font-family: 'IBM plex sans';
  
  /* margin-left: 11%; */
}

.shop-products:hover{
  cursor: pointer;
}

.shop-products>*{
  color: white;
  font-weight: 500;
  margin: 3%;
}

.info-blurb-one{
  grid-row: 8/11 ;
  grid-column: 2/5;  
  justify-self: start;

}

.info-blurb-two{
  grid-row: 8/11;
  grid-column: 5/8;
  justify-self: start;
}

.info-blurb-three{
  grid-row: 8/11;
  grid-column: 8/12;
  justify-self: start;
}

.info-blurb{
  position: relative;
  right: 12%;
  width: 95%;
  height: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  border-radius: 1.5rem;
  border: solid .05rem black;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;}

.info-blurb-stacked{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  align-items: start;
  justify-content: center;
}

.info-blurb-sub{
  margin: 0;
  font-family: 'IBM plex sans';
  font-weight: 400;
  font-size: smaller;
  color: hsl(0, 0%, 67%);
}

.info-blurb-description{
  font-family: 'IBM plex sans';
  font-size: .9rem;
  font-weight: 600;
  white-space: nowrap;
}

.icon{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 1rem;
  font-size: larger;
  width: 10%;
  height: 40%;
  padding: 1%;
}

.featured{
  /* border: solid 1px red; */
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(8, 1fr);
  height: 50vh;
  width: 85vw;
}

.featured > span {
}

.sub-header{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 1.75rem;
  font-family: 'Fraunces';
  font-weight: 600;
  margin-left: 3%;
}

.sub-description{
  grid-row-start: 2;
  grid-column: 1/4;
  font-family: 'IBM plex sans';
  font-size: small;
  
  margin-left: 3%;
}

.featured-product{
  width: 98%;
  min-height: 70%;
  max-height: 82%;
  border: solid 1.4px black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 1.5rem;
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);  
}

.featured-product:hover{
  /* background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.05), transparent 50%); */
}

.featured-product > span{
  display: grid;

}

.featured-product-one{
    grid-row: 3/10;
  grid-column: 1/3;
}

.featured-product-two{
  grid-row: 3/10;
  grid-column: 3/5;
  justify-self: end;
  justify-self: start;
}

.featured-product-three{
  grid-row: 3/10;
  grid-column: 5/7;
  justify-self: start;
}

.featured-product-four{
  grid-row: 3/10;
  grid-column: 7/9;
  justify-self: start;
}

.featured-product-name{
  grid-row-start: 2;
  font-family: 'IBM plex sans';
 
  font-weight: 600;
  grid-column: 1/6;
  font-size: small;
  align-self: center;
  justify-self: start;
  margin-left: 5%;
}

.featured-product-price{
  grid-row-start: 2;
  grid-column-start: 9;
  justify-self: end;
  font-family: 'IBM plex sans';
  font-weight: 500;
}

.featured-product-category{
  grid-row-start: 3;
  grid-column: 1/6;
  font-family: 'IBM plex sans';
  font-size: smaller;
  font-weight: 500;

  justify-self: start;
  margin-left: 5%;
}

.buzzword{
    background-color: hsl(204, 100%, 95%);
  font-family: 'IBM plex sans';
  width: 90%;
  height: 100%;
  font-weight: 500;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  white-space: nowrap;
}

.buzzword-one{
  grid-row-start: 5;
  grid-column: 1/4;

  margin-left: 5%;
}

.buzzword-two{
  grid-row-start: 5;
  grid-column: 4/7;
}

.in-stock{
  background-color: hsl(221, 83%, 53%);
  color: white;
  font-weight: 600;
}

.no-stock{
  background-color: hsl(0, 83%, 53%);
  color: white;
  font-weight: 600;
}

.buzzword-three{
  grid-row-start: 5;
  grid-column: 7/10;
}

.featured-details{
  width: 90%;
  min-height: 40%;
  max-height: 50%;
  grid-row: 6/11;
  grid-column: 1/11;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-self: start;
  margin-left: 3%;
  justify-content: space-between;
  background-color: hsl(204, 100%, 95%);
  border-radius: 1rem;
  border: solid .05rem rgb(209, 213, 219);
  transition: .2s;
}

.featured-details:hover{
    background: radial-gradient(100rem circle at 20% 10%, 
  hsla(221,83%,53%,.05), transparent 50%);
  cursor: pointer;
}

.featured-details > *{
  margin: 5%;
  font-size: medium;
}

.view{
  font-family: 'IBM plex sans';
  font-weight: 500;

}

.testimonial{
  height: 35vh;
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.testimonial > span{
  /* border: solid 1px red; */
}

.test{
  grid-column: 1/4;
  font-size: 1.5rem;
  align-self: self-start;
}

.view-all{
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(204, 100%, 95%);
  grid-row: 1/3;
  grid-column: 9/11;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  align-self: center;
  justify-self: end;
}

.view-all > *{
  margin: 5%;
  font-family: 'IBM plex sans';
  font-weight: 500;
}

.view-all > *{
  margin: 5%;
  font-family: 'IBM plex sans';
  font-weight: 600;
  font-size: small;
}

.testimonials{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  grid-row: 3/11;
  grid-column: 1/11;
  border-bottom: .05rem solid black;
  padding: 1.6rem;

}

.testimonial-card{
  width: 30%;
  height: 80%;
  border: solid .06rem;
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.testimonial-card > span{
  /* border: solid red 1px; */
}

.testimonial-name{
  grid-row: 2;
  grid-column: 1/4;
  font-weight: 600;
  font-family: 'IBM plex sans';
  align-self: center;
  justify-self: center;
}

.rating{
  width: 95%;
  height: 95%;
  color: rgb(255, 217, 4);
  grid-row: 2;
  grid-column: 6/10;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: end;
  justify-content: space-around;
  align-items: center;
}

.quote{
  font-family: 'IBM plex sans';
  color: black;
  font-weight: 400;
  font-size: .75rem;
  grid-row: 4/9;
  grid-column: 1/11;
  justify-self: end;
  align-self: flex-end;
  margin-left: 5%;
}

.banner-custom{
  width: 85vh;
  height: 20vh;
  border: solid .1rem black;
  border: solid;
}

.view-all-featured{
  width: 100%;
  white-space: nowrap;
  grid-column: 8/11;
  background-color: unset;
}

footer{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer > *{
  font-family: 'IBM plex sans';
  font-size: smaller;
  margin: 3%;
  color:  rgb(151, 151, 151);
}

.admin-foot{
  text-decoration: underline;
}

.approved-testimonials-home{
  display: flex;
  width: 20rem;
  height: 100%;
  flex-direction: column;
  margin-top: 2rem;
  gap: .3rem;
  border: 1px black solid;
  border-radius: 20px;
  padding: 1rem;
}
.testimonials-all{
  display: flex;
  width: 20rem;
  height: 100%;
  flex-direction: column;
  margin-top: .2  rem;
  gap: .3rem;
  border: 1px black solid;
  border-radius: 20px;
  padding: 1rem;
}

