.testimonials-layout{
    height: 85vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.testimonial-boxes{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.testimonial-boxes > *{
    width: 50%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.testimonials{
        border: solid 1px black;

}
